:root {
    --nav-bg-color: rgba(255, 255, 255, .1);
    --bg-color: #1f242d;
    --second-bg-color: #1f2733;
    --third-bg-color: #2d3542;
    --main-color: rgba(37, 254, 116, 0.814);            /* --main-color: #0ef; */
    --mains-color: #1ac77f;
    --white-color: #fff;
    --tab-list-color: #7c8594;
}


.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.hero h1 span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .07rem var(--mains-color);
    animation: display-text 12s linear infinite;
    animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {
    33.3333%,100% {
        display: none;
    }
}

.hero h1 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: .2rem solid var(--mains-color);
    color: var(--mains-color);
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
    animation-delay: calc(-4s * var(--i));
}

@keyframes fill-text {
    10%,100% {
        width: 0;
    }
    70%,90% {
        width: 100%;
    }
}


.img-box {
    position: relative;
    width: 32vw;
    height: 32vw;
    background: linear-gradient(var(--bg-color), var(--main-color));
    border-radius: 50%;
    border: .5rem solid var(--main-color);
    box-shadow: 0 0 2rem var(--main-color);
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: 1s;
}

.img-box.home-img:hover {
    box-shadow: 0 0 10rem var(--main-color);
}

.img-box img {
    position: absolute;
    top: 3rem;
    display: block;
    width: 85%;
    object-fit: cover;
}

.img-box.about-img {
    background: transparent;
    box-shadow: 0 0 2rem var(--main-color), inset 0 0 1rem var(--main-color);
}

.img-box.about-img img {
    z-index: -1;
}



/* <img src={profile_img} alt="" /> 
.hero img{
    margin-top: 150px;
}  */



.hero h1{
    text-align: center;
    width: 70%;
    font-size: 90px;
    font-weight: 600;
}

/*.hero h1 span{
    background: linear-gradient(270deg, #24ce87 10%, #15ff86a3 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}
/* <div className="hero-action"> */
.hero-action {
   display: flex;
   align-items: center;
   gap: 25px;
   font-size: 24px;
   font-weight: 500;
   margin-bottom: 50px;
}

/* <div className="hero-connect"> */
.hero-connect {
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(264deg, #24ce87 -5.09%, #15ff86a3 106.28%);
    cursor: pointer;
}

/* <div className="hero-resume"> */
.hero-resume {
    padding: 25px 75px;    /*padding is making height = 25px, width = 75px */
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
}

.hero-connect:hover {
    border: 2px solid white;
}

.hero-resume:hover {
    border-color: #15ff86a3;
    color: #6cd1a7;
}

/* this below code is responsive at home page */
/* Mobile Styles */
@media (max-width:768px){
    .hero-image {
        width: 250px;
        height: 250px;
        padding: 12px;
    }
    .hero h1{
        margin-top: 50px;
        width: 90%;
        font-size: 50px;
    }
    .hero p{
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }
    .hero-action{
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .hero-connect{
        padding: 20px 30px;
        border-radius: 40px;
    }
    .hero-resume{
        padding: 20px 50px;
        border-radius: 40px;
    }
}


/* Small Mobile Styles */
@media (max-width: 480px) {
    .hero-image {
        width: 200px;
        height: 200px;
        padding: 10px;
    }
}