:root {
    --bgd-color: #161513;
    --main-color: rgba(37, 254, 116, 0.814);            /* --main-color: #0ef; */
}


/* <div className='about'> */
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

/* <div className="about-title"> */
.about-title {
    position: relative;
}

/* This change logo alex */
.change-logo{
    filter: invert(58%) sepia(44%) saturate(746%) hue-rotate(142deg) brightness(93%) contrast(87%);
}

.about-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
    color: #25f58aa3;
}

.about-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/* <div className='about-sections'> */
.about-sections {
    display: flex;
    gap: 80px;
}

.about-sections .about-left img{
    max-width: 400px;
}


/* This code make it circle rounded image about */
.home-image .image-box {
    position: relative;
    width: 23vw;
    height: 23vw;
    border-radius: 50%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-image .image-box::before,
.home-image .image-box::after {
    content: '';
    position: absolute;
    width: 50rem;
    height: 50rem;
    background: conic-gradient(transparent, transparent, transparent, var(--main-color));
    transition: rotate(0deg);
    animation: rotate-border 10s linear infinite;            /* lub kiv2 xim ntsuab*/
}

.home-image .image-box::after {
    animation-delay: -5s;
}

@keyframes rotate-border {
    100% {
        transform: rotate(360deg);
    }
}

.home-image .image-box .image-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--bgd-color);
    border-radius: 50%;
    border: .01rem solid var(--bg-color);
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-image .image-box .image-item img {
    position: absolute;
    top: 3rem;
    display: block;
    width: 85%;
    object-fit: cover;
    mix-blend-mode: lighten;
}



/* <div className="about-right"> */
.about-right {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

/* <div className="about-para"> */
.about-para {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
}

/* <div className='about-skills'> */
.about-skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* <div className='about-skill' */
.about-skill {
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}
.about-skill p {
    min-width: 150px;
    font-size: 24px;
    font-weight: 500;
}
.about-skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #24ce87 -5.09%, #15ff86a3 106.28%);
}

/* <div className="about-achievements"> */
.about-achievements {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}

/* <div className='about-achievement'> */
.about-achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}

.about-achievement h1{
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(270deg, #24ce87 50.41%, #15ff86a3 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-achievement p{
    font-size: 22px;
    font-weight: 500;
}
.about-skill:hover {
    transform: scale(1.05);
    transition: 0.3s;
    color: #24ce87;
}
.about-achievement:hover {
    transform: scale(1.12);
    transition: 0.5s;
    color: #24ce87;
}

/* This code is responsive for page About */
@media(max-width:768px){
    .about{
        gap: 80px;
        margin: 50px 70px;
        align-items: start;
    }
    .about-title h1{
        font-size: 50px;
        padding: 0;
    }
    .about-title img{
        width: 130px;
        right: -20px;
    }
    .about-sections{
        flex-direction: column;
    }
    .about-left{
        display: none;
    }
    .about-para{
        font-size: 18px;
        line-height: 32px;
    }
    .about-skill{
        gap: 20px;
        align-items: center;
    }
    .about-skill p{
        font-size: 20px;
    }
    .about-skill hr{
        height: 6px;
    }
    .about-achievements{
        justify-content: space-between;
    }
    .about-achievement{
        gap: 10px;
    }
    .about-achievement h1{
        font-size: 34px;
        font-weight: 700;
    }
    .about-achievement p{
        text-align: center;
        font-size: 16px;
    }
}


