@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@100..900&family=Phetsarath:wght@400;700&display=swap');

body {
    font-family: "Noto Sans Lao", sans-serif;
}

/* <div className='contact'> */
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

/* <div className="contact-title"> */
.contact-title {
    position: relative;
}

/* This code change logo theme_pattern.svg' color */
.change-logo{
    filter: invert(58%) sepia(44%) saturate(746%) hue-rotate(142deg) brightness(93%) contrast(87%);
}

.contact-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
    color: #11e2a0a3;
}

.contact-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/* <div className='contact-section'> */
.contact-section {
    display: flex;
    gap: 150px;
}

/* <div className='contact-left'> */
.contact-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-left h1 {
    font-size: 80px;
    font-weight: 700;
    background: linear-gradient(270deg, #24ce87 80%, #15ff86a3 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left p {
    max-width: 550px;
    color: #D8D8D8;
    font-size: 20px;
    line-height: 35px;
}

/* <div className="contact-details"> */
.contact-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #D8D8D8;
    font-size: 22px;
}

/* <div className="contact-detail"> */
.contact-detail {
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.3s ease;
}

.contact-detail:hover {
    transform: scale(1.05);
}

.contact-detail .mail-icon {
    transition: 0.3s ease;
}

.contact-detail .mail-icon:hover {
    filter: invert(58%) sepia(44%) saturate(746%) hue-rotate(142deg) brightness(93%) contrast(87%);;
}

.contact-detail .call-icon {
    transition: 0.3s ease;
}

.contact-detail .call-icon:hover {
    filter: invert(58%) sepia(44%) saturate(746%) hue-rotate(142deg) brightness(93%) contrast(87%);;
}

.contact-detail .location-icon {
    transition: 0.3s ease;
}

.contact-detail .location-icon:hover {
    filter: invert(58%) sepia(44%) saturate(746%) hue-rotate(142deg) brightness(93%) contrast(87%);;
}



.contact-detail:hover p{
    color: #24ce87;
}

/* <form className='contact-right'> */
.contact-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.contact-right label {
    color: #D8D8D8;
    font-size: 22px;
    font-weight: 500;
}

.contact-right input {
    border: none;
    width: 700px;
    height: 78px;
    padding-left: 20px;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 20px;
}

.contact-right textarea {
    width: 650px;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 20px;
    resize: none; /* this is make textarea user can't push the box textarea corner to increase size */
}

/* <button type='submit' className='contact-submit'> */
.contact-submit {
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(264deg, #24ce87 -5.09%, #15ff86a3 106.28%);
    font-size: 22px;
    padding: 20px 60px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.contact-submit:hover {
    transform: scale(1.1);   /* this scale is make it animation zoom large and small when we point mouse at Button submit */
    transition: 0.3s;
}

/* To add font to placeholder */
.contact-right input,
.contact-right textarea {
  font-family: "Noto Sans Lao", sans-serif;
  font-size: 16px;
}

/* Placeholder font */
.contact-right input::placeholder,
.contact-right textarea::placeholder {
  font-family: "Noto Sans Lao", sans-serif;
  color: #999;
}

.contact-submit {
  font-family: "Noto Sans Lao", sans-serif;
}



/* This code below is for responsive page Contact */
@media(max-width:768px){
    .contact{
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }
    .contact-title h1{
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }
    .contact-title img{
        width: 130px;
        margin-right: -20px;
    }
    .contact-section{
        flex-direction: column;
    }
    .contact-left h1{
        font-size: 54px;
    }
    .contact-left p{
        font-size: 18px;
    }
    .contact-detail{
        gap: 20px;
    }
    .contact-detail img{
        width: 25px;
    }

    .contact-right{
        margin-top: -70px;
    }
    .contact-right label{
        font-size: 20px;
    }
    .contact-right input{
        width: 100%;
        font-size: 20px;
    }
    .contact-right textarea{
        width: 95%;
        font-size: 20px;
    }
    .contact-submit{
        font-size: 20px;
        padding: 15px 40px;
        margin: auto;
    }
}